<!DOCTYPE html>
<html>

<head>
  <title>Listmas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <button id="xButton" type="button" name="xButton">This changes a variable</button>

  <p id="xVal">{{ x }}</p>
  <p>{{ myVariable }}</p>
  <script src="static/script.js"></script>

  <div id="content"></div>

  <script src="static/build/example2.js"></script>
</body>

</html>
